page-admissionform {
    #heading1{
        background: #2C80BB;
        color: white;
        text-align: center;
        padding: 0.01px;
    }
    .info{
        padding: 0%;
        margin: 0px !important;
    }
    .label_{
        font-weight: bold;
        border-bottom: #434343 1px solid;
        text-align: center;
    }
    .ginfo{
        font-weight: bold;
    }
}
