<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Receipts</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

  <ion-list *ngIf="receipt_years.length > 0">
    
    <button ion-item  class=" list" *ngFor="let receipt_year of receipt_years" (click)="gotoMonthlyReceiptsPayment(receipt_year.year)">
      <ion-label>Receipts {{ receipt_year.year }}</ion-label>
    </button>

  </ion-list>

  <p class="no-record" *ngIf="receipt_years.length == 0">
      <img src="assets/imgs/notfound2.png" style="height: 40%; width: 40%;">
      <br>
      No Record Found !
  </p>

</ion-content>
