page-paymentreceipt {
    .thanks-row{
        background:#0A6FB7 ;
     padding-top: 10px !important;
     color: aliceblue !important;
    }
    .sr-info{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .para{
        margin-left: 15px;
        margin-right: 15px;
        line-height: 25px;
        text-align: justify;
    }
    .pad-left-100{
        padding-right: 30px;
        padding-left: 30px;
    }
}
